@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Тук може да филтрирате автомобилите състояние.</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
            <form method="get" asp-action="ShowSelectedInformationForAllVehicles">
                <div class="mb-3">
                    <label class="form-label"></label>
                    <select name="condition" class="form-select">
                        <option value="">-- Избери --</option>
                        <option value="Нов">Нов</option>
                        <option value="Употребяван">Употребяван</option>
                        <option value="За части">За части</option>
                        <!-- Add more options for vehicle makes as needed -->
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Потвърди</button>
            </form>
        </div>
    </div>
</body>

