@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Тук може да филтрирате автомобилите по гориво.</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body class="body">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
            <form method="get" asp-action="ShowSelectedInformationForAllVehicles">
                <div class="mb-3">
                    <label class="form-label">Вид гориво</label>
                    <select name="fuelName" class="form-select">
                        <option value="">-- Избери --</option>
                        <option value="Бензин">Бензин</option>
                        <option value="Дизел">Дизел</option>
                        <option value="Метан">Метан</option>
                        <option value="Газ/Бензин">Газ/Бензин</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Потвърди</button>
            </form>
        </div>
    </div>
</body>

