<h1>Filter By Horsepower</h1>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
        <form method="get" asp-action="ShowSelectedInformationForAllVehicles">
            <div class="mb-3">
                <label class="form-label">Horsepower</label>
                <select id="minHorsepower" name="min" class="form-control">
                    <option value="">-- Select Min Horsepower --</option>
                    @for (int hp = 50; hp <= 510; hp += 20)
                    {
                            <option value="@hp">@hp</option>
                    }
                </select>

                <select id="maxHorsepower" name="max" class="form-control">
                    <option value="">-- Select Max Horsepower --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("minHorsepower").addEventListener("change", function () {
        var minHorsepower = parseInt(this.value);
        var maxHorsepowerSelect = document.getElementById("maxHorsepower");
        maxHorsepowerSelect.innerHTML = "<option value=''>-- Select Max Horsepower --</option>";
        if (minHorsepower >= 510) {
            var option = document.createElement("option");
            option.value = "510+";
            option.text = "510+";
            maxHorsepowerSelect.appendChild(option);
        } else {
            for (var hp = minHorsepower + 20; hp <= 510; hp += 20) {
                var option = document.createElement("option");
                option.value = hp;
                option.text = hp;
                maxHorsepowerSelect.appendChild(option);
            }
        }
    });
</script>
