@using WheelsMarket.Services.Vehicles.ViewModel
@model ByPriceFilterViewModel
@{
}



@* <h1>Add Vehicle</h1>

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
		<form method="get" asp-action="ShowSelectedInformationForAllVehicles">
			<div class="mb-3">
			<label asp-for="@Model.min" class="form-label">Min Price</label>
			<input asp-for="@Model.min" class="form-control" aria-required="true"/>
			<span asp-validation-for="min" class="text-danger"></span>
			</div>
			<div class="mb-3">
			<label asp-for="@Model.max" class="form-label">Max Price</label>
			<input asp-for="@Model.max" class="form-control" aria-required="true"/>
			<span asp-validation-for="max" class="text-danger"></span>
			</div>
		

	 <button type="submit" class="btn btn-primary">Submit</button>

		 </form>
	</div>
</div> *@

<h1>Тук може да филтрирате автомобилите по цена:</h1>

<head>
	<title>Your Page Title</title>
	<style>
		/* Define your custom dropdown styles */

		.form-select {
			border: 1px solid #ced4da; /* Default border color */
			border-radius: .25rem; /* Rounded corners */
			padding: .375rem .75rem; /* Padding */
			background-color: #fff; /* Default background color */
			color: #000000; /* Default text color */
		}

			/* Define the stripped colors for dropdown options */
			/* Define the stripped colors for dropdown options */
		/* 	.form-select option:nth-child(even) {
				background-color: #ae75de; 
			}

			.form-select option:nth-child(odd) {
				background-color: #d4b6ed;
			} */
	</style>
</head>
<body style="background-color:#ab36cf">
	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
			<form method="get" asp-action="ShowSelectedInformationForAllVehicles">
				<div class="mb-3">
					<label class="form-label">Минимална цена</label>
					<input type="text" name="priceMin" class="form-control" placeholder="Въведи тук">
				</div>
				<div class="mb-3">
					<label class="form-label">Максимална цена</label>
					<input type="text" name="priceMax" class="form-control" placeholder="Въведи тук">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>

			</form>
		</div>
	</div> 
</body>


