@using WheelsMarket.Services.Vehicles.ViewModel
@model ByPriceFilterViewModel
@{
}
<h1>Тук може да филтрирате автомобилите по цена.</h1>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Customizable Table</title>
	<link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">
	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
			<form method="get" asp-action="ShowSelectedInformationForAllVehicles">
				<div class="mb-3">
					<label class="form-label">Минимална цена</label>
					<input type="text" name="priceMin" class="form-control" placeholder="Въведи тук">
				</div>
				<div class="mb-3">
					<label class="form-label">Максимална цена</label>
					<input type="text" name="priceMax" class="form-control" placeholder="Въведи тук">
				</div>
				<button type="submit" class="btn btn-primary">Потвърди</button>

			</form>
		</div>
	</div> 
</body>


