@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Тук може да филтрирате автомобилите по година на производство.</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">
   <div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
        <form method="get" asp-action="ShowSelectedInformationForAllVehicles">
            <div class="mb-3">
                <label class="form-label">Минимална година</label>
                <select id="minYear" name="yearMin" class="form-control">
                    <option value="">-- Избери --</option>
                    @for (int year = DateTime.Now.Year; year >= 1990; year--)
                    {
                            <option value="@year">@year</option>
                    }
                </select>
                <br>
                    <label class="form-label">Максимална година</label>

                <select id="maxYear" name="yearMax" class="form-control">
                    <option value="">-- Избери --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Потвърди</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("minYear").addEventListener("change", function () {
        var minYear = parseInt(this.value);
        var maxYearSelect = document.getElementById("maxYear");
        maxYearSelect.innerHTML = "<option value=''>-- Select Max Year --</option>";
        for (var year = minYear; year <= new Date().getFullYear(); year++) {
            var option = document.createElement("option");
            option.value = year;
            option.text = year;
            maxYearSelect.appendChild(option);
        }
    });
</script>


   
</body>
