@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Filter By Age</h1>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 coll-xl-6">
        <form method="get" asp-action="ShowSelectedInformationForAllVehicles">
            <div class="mb-3">
                <label class="form-label">Скоростна кутия</label>
                <select id="minYear" name="min" class="form-control">
                    <option value="">-- Select Min Year --</option>
                    @for (int year = DateTime.Now.Year; year >= 1990; year--)
                    {
                            <option value="@year">@year</option>
                    }
                </select>

                <select id="maxYear" name="max" class="form-control">
                    <option value="">-- Select Max Year --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("minYear").addEventListener("change", function () {
        var minYear = parseInt(this.value);
        var maxYearSelect = document.getElementById("maxYear");
        maxYearSelect.innerHTML = "<option value=''>-- Select Max Year --</option>";
        for (var year = minYear + 1; year <= new Date().getFullYear(); year++) {
            var option = document.createElement("option");
            option.value = year;
            option.text = year;
            maxYearSelect.appendChild(option);
        }
    });
</script>
