@model WheelsMarket.Services.Vehicles.ViewModel.EditVehicleViewModel
@{
}

<h1>Edit VehicleTypeType</h1>

<form method="post" action="EditIsApproved" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <br />
        <input type="text" class="form-control" asp-for="Id" readonly />
        <br />
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Is Approved</label>
        <br />
        <input type="text" class="form-control" asp-for="IsApproved" />
        <br />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
