@model WheelsMarket.Services.Vehicles.ViewModel.EditIsApprovedViewModel
@{
}

<h1>Потвърди автомобил</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<form method="post" action="Edit" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <br />
        <input type="text" class="form-control" asp-for="Id" readonly />
        <br />
    </div>
<div class="mb-3">
    <label for="approvalStatus" class="form-label">Потвърди</label>
    <br />
    <select id="approvalStatus" class="form-control" asp-for="IsApproved">
        <option value="true">Approved</option>
        <option value="false">Not Approved</option>
    </select>
    <br />
</div>


    <button type="submit" class="btn btn-primary">Потвърди</button>
</form>

