@model WheelsMarket.Services.VehicleTypeSections.ViewModel.AddVehicleTypeSectionViewModel
    @using WheelsMarket.Data.Models
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<h1>Добави секция автомобил.</h1>
<form method="post" action="Create" class="mt-5">
    <div class="mb-5">
        <label for="" class="form-label">Име</label>
        <input type="text" class="form-control" asp-for="Section">
        <span asp-validation-for="Section" class="text-danger"></span>
    </div>
     <button type="submit" class="btn btn-primary">Потвърди</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
