@using WheelsMarket.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    .nav-link.text-white:hover {
        color: white;
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/User/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">Излизане</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Register" style="font-size: 15px;">
                Ригистриране
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login" style="font-size: 15px; ">
                Влизане
            </a>
        </li>
    }
</ul>
