@using WheelsMarket.Services.VehicleTypeTypes.ViewModel
@model AddVehicleTypeTypeViewModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<h1>Добави тип автомобил.</h1>

        <form method="post" action="Create">
            <div class="mb-3">
            <label asp-for="@Model.Type" class="form-label">Име</label>
            <input asp-for="@Model.Type" class="form-control" aria-required="true"/>
            <span asp-validation-for="Type" class="text-danger"></span>
            </div>

             <div class="mb-3">
             <label for="" class="form-label">Секция</label>
             <br />
             <select asp-for="VehicleTypeSectionId" asp-items="@ViewBag.VehicleTypeSectionId" class="form-control"></select>
             </div>
            <button type="submit" class="btn btn-primary">Потвърди</button>

         </form>
