@model WheelsMarket.Services.VehicleTypeTypes.ViewModel.EditVehicleTypeTypeViewModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<h1>Редактирай тип автомобил.</h1>

<form method="post" action="Edit" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <br />
        <input type="text" class="form-control" asp-for="Id" readonly />
        <br />
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Тип</label>
        <br />
        <input type="text" class="form-control" asp-for="Type" />
        <br />
    </div>

    <button type="submit" class="btn btn-primary">Потвърди</button>
</form>
