@using WheelsMarket.Services.VehicleTypeTypes.ViewModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">

    <div class="header">
        <h1>Типовете автомобили.</h1>
    </div>

    <div class="container">
                <a asp-controller="VehicleTypeType" asp-action="Create" class="btn btn-warning">Добави</a>


    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th> Type </th>
                <th> Section </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in this.Model)
            {
                <tr>
                    <td>@cat.Type</td>
                    <td>@cat.VehicleTypeSectionName</td>
                    <td>
                        <a asp-controller="VehicleTypeType" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-primary">Редактирай</a>
                    </td>
                    <td>
                        <a asp-controller="VehicleTypeType" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-danger">Изтрий</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>
</body>
</html>
