@model List<WheelsMarket.Services.Brands.ViewModel.AllBrandViewModel>
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">

    <div class="header">
        <h1>Марките автомобили.</h1>
    </div>

    <div class="container">
                <a asp-controller="Brand" asp-action="Create" class="btn btn-warning">Добави</a>
    <br></br>
    <table class="table">
        <thead>
            <tr>
                <th> Име </th>
                <th> Редакция </th>
                <th> Изтриване </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in this.Model)
            {
                <tr>
                    <td>@cat.Name</td>

                    <td>
                        <a asp-controller="Brand" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-primary">Редактирай</a>
                    </td>
                    <td>
                        <a asp-controller="Brand" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-danger">Изтрий</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>

</body>
</html>