@using WheelsMarket.Services.Editions.ViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizable Table</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">

    <div class="header">
        <h1 class="mb-5">Моделите автомобили:</h1>
    </div>

    <div class="container">
                <a asp-controller="Edition" asp-action="Create" class="btn btn-warning">Добави</a>


    <br></br>
    <table class="table">
        <thead>
            <tr>
                <th> Име </th>
                <th> Редактиране </th>
                <th> Изтриване </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in this.Model)
            {
                <tr>
                    <td>@cat.Name</td>

                    <td>
                        <a asp-controller="Edition" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-primary">Редактиране</a>
                    </td>
                    <td>
                        <a asp-controller="Edition" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-danger">Изтриване</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>

</body>
</html>